.categories-section {
  padding: 40px;
  width: 100%;
}

/* Title */
.categories-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: white;
  text-align: left;
}

/* GRID */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  gap: 25px;

  justify-content: start; /* start from left */
  align-items: start;
}

/* CARD */
.category-card {
  background: #0d6e6e;
  border-radius: 15px;
  padding: 25px;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
}

/* ICON */
.category-icon {
  font-size: 50px;
}

/* TEXT */
.category-card p {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* HOVER */
.category-card:hover {
  background: #12a3a3;
  transform: scale(1.05);
}
